        <div ng-if="!albums || albums.length <=0" ng-cloak>
            <div class="item item-divider">
                Ops!
            </div>
            <div class="card card-primary">
                <div class="item item-text-wrap">
                    <h3>You may experincing some connection issues on your device, please check your cell signals or connect
                        to WiFi.</h3>
                    <p>&nbsp;</p>
                    <h4>If you still having problem, please email us at <a href="mailto:info@inepali.net">info@inepali.net</a></h4>
                </div>
            </div>
        </div>