<ion-view view-title="{{selectedAlbum.title}}" ng-init="loadPlaylist()">

    <ion-nav-buttons side="right" ng-show="!isPlaying">
        <div class="button button-{{(isPlaying && playerQueue.length > 1)?'positive':'clear ion-play'}}" ng-click="playAll()"> {{(isPlaying && playerQueue.length > 1)?'Playing All':'Play All'}}</div>
    </ion-nav-buttons>

    <ion-content>
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="refreshPlaylist()"></ion-refresher>

        <ion-list>
            <!--button class="button button-small button-full button-dark ion-play" ng-click="playAll()" ng-show="playlist"> Play All</button-->

            <ion-item ng-repeat="item in playlist track by $index" class="item iitem-icon-left" ng-click="playTrack(item)">

                <!--img ng-src="{{item.iconUrl}}" /-->

                <div style="float:left; padding-right:5px; padding-bottom: 5px;">
                    <ionic-letter-avatar shape="round" charcount="2" data="{{item.title}}" width="{{iconWidth}}" height="{{iconHeight}}" fontsize="{{fontsize}}"></ionic-letter-avatar>
                </div>


                <img style="float:right;padding-top:5px" ng-src="img/eq.gif" ng-show="isPlaying && item.title==currentStream.title" />
                <h2>{{item.title | underscore }} <i ng-click="addToFavorites($event, item)" class="icon {{isFavorite(item)?'ion-happy':'ion-happy-outline'}}"></i></h2>
                <h4>{{item.description | underscore}}</h4>

        </ion-item>
</ion-list>

</ion-content>
</ion-view>